root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2   # Google Standard for almost everything (Java, JS, Proto, Gradle)
insert_final_newline = true
trim_trailing_whitespace = true

# Java specific (Google Style)
[*.java]
indent_size = 2
continuation_indent_size = 4

# Kotlin and Kotlin Script (Gradle)
[*.{kt,kts}]
indent_size = 2
continuation_indent_size = 4